<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="managePageStyle.css">
    <title>Home Page</title>
</head>

<body>
    <!-- Fixed Background Starts -->
    <div class="container">
        <!--  Card Background  Starts -->
        <div id="CardBackground">

            <!--    Nav Bar starts Here -->

            <div class="container-fluid p-0">
                <nav class="navbar navbar-expand-lg my-navbar">
                    <a class="navbar-brand" href="/userHome?email=<%= User.userEmail %>">
                        <img class="image_logo" src="logo.png" style="height: 60px; width:121px" alt="">
                    </a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 490px;">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item active">
                                <!-- <a class="nav-link" href="#">Wallets</a> -->
                                <form method="POST" action="allAds" >
                                    <input type="hidden" name="email" value="<%= User.userEmail %>" readonly>
                                    <button type="submit" 
                                    style="margin-left: -30px;  font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
                                    class="managebtn">Ads</button> 
                                    <!-- <input type="submit" class="btn btn-info" value="Links">  -->
                                    <!--  <div class="nav-link" type="submit"  >Links</div> -->
                                </form>
                            </li>
                            <li class="nav-item active">
                                <!-- <a class="nav-link" href="#">Wallets</a> -->
                                <form method="POST" action="wallet" >
                                    <input type="hidden" name="email" value="<%= User.userEmail %>" readonly>
                                    <button type="submit" 
                                    style="margin-left: -30px;  font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
                                    class="managebtn">Wallet</button> 
                                    <!-- <input type="submit" class="btn btn-info" value="Links">  -->
                                    <!--  <div class="nav-link" type="submit"  >Links</div> -->
                                </form>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Profile</a>
                                <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/u/<%=User.userEmail%>"> <%= User.name %> </a>
                                    <a class="dropdown-item"> <%= User.userEmail %> </a>
                                    <a class="dropdown-item" href="/"> Log out </a>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--    Nav Bar Ends Here -->
            <div>
                <script>
                    window.onload = function () {
                    
                    var chart = new CanvasJS.Chart("chartContainer", {
                        animationEnabled: true,
                        title:{
                            text: "Your Link Statistics"
                        },	
                        axisY: {
                            title: "Clicks",
                            titleFontColor: "#4F81BC",
                            lineColor: "#4F81BC",
                            labelFontColor: "#4F81BC",
                            tickColor: "#4F81BC"
                        },
                        axisY2: {
                            title: "Revenue",
                            titleFontColor: "#C0504E",
                            lineColor: "#C0504E",
                            labelFontColor: "#C0504E",
                            tickColor: "#C0504E"
                        },	
                        toolTip: {
                            shared: true
                        },
                        legend: {
                            cursor:"pointer",
                            itemclick: toggleDataSeries
                        },
                        data: [{
                            type: "column",
                            name: "Clicks",
                            legendText: "Clicks",
                            showInLegend: true, 
                            dataPoints:[
                                // { label: 1, y: 266.21 },
                                // { label: 2, y: 302.25 },
                                // { label: 3, y: 157.20 },
                                // { label: "Iraq", y: 148.77 },
                                // { label: "Kuwait", y: 101.50 },
                                // { label: "UAE", y: 97.8 }
                                <% var ii = 1 %>
                                <% urlStat.forEach(element => { %>
                                { label: <%= ii %>, y: <%= element.clicks %> },
                                <% ii++ %>
                                <% }); %>
                            ]
                        },
                        {
                            type: "column",	
                            name: "Revenue",
                            legendText: "Revenue",
                            axisYType: "secondary",
                            showInLegend: true,
                            dataPoints:[
                                // { label: 1, y: 10.46 },
                                // { label: 2, y: 2.27 },
                                // { label: 3, y: 3.99 },
                                // { label: "Iraq", y: 4.45 },
                                // { label: "Kuwait", y: 2.92 },
                                // { label: "UAE", y: 3.1 }
                                <% ii = 1 %>
                                <% urlStat.forEach(element => { %>
                                { label: <%= ii %>, y: <%= element.clicks * 0.1 %> },
                                <% ii++ %>
                                <% }); %>
                            ]
                        }]
                    });
                    chart.render();
                    
                    function toggleDataSeries(e) {
                        if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                            e.dataSeries.visible = false;
                        }
                        else {
                            e.dataSeries.visible = true;
                        }
                        chart.render();
                    }
                    
                    }
                    </script>

                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
            </div>

            <div class="togggleflip" onclick="togglefun()">
                <div id="toggle"></div>
            </div>

            <section class="container section_io ">



                <!--Table Starts-->
                <div id="tableToggle">
                    <table>
                        <tr id="header">
                            <th>ShortURL</th>
                            <th>MainURL</th>
                            <th>Clicks</th>  
                            <th>Creation Time</th>
                            <th>Revenue</th>
                            <th>M</th>
                        </tr>
                        <% var cnt = 0 ; %>
                        <% urlList.forEach(element => { %>
                            <tr>
                                <td><a href="localhost:5000/<%= element.short %>"><%= element.short %> </a></td>
                                <!-- <td><a href="<%= element.full %>"><%= element.full %> </a></td> -->
                                <td>
                                    <!-- this content can be very large... -->
                                    <div style="overflow:hidden; height: 20px;">
                                        <a href="<%= element.full %>"><%= element.full %> </a>
                                    </div>
                                </td>
                                <td><%= element.clicks %> </td>
                                <td>
                                    <!-- this content can be very large... -->
                                    <div style="overflow:hidden; height: 20px;">
                                        <%= element.creationTime %>
                                    </div>
                                </td>
                                <td><%= ((element.clicks * 0.1) * element.monetized).toFixed(2) %> TK</td>
                                <td>
                                    <% if(element.monetized == true){ %> 
                                        <%= 'Y' %> 
                                    <% }else{ %> 
                                            <%= 'N' %> 
                                    <% } %> 
                                </td>
                            </tr>
                            <% cnt++; %> 
                        <% }); %>
                        <% for(i = 0 ; i < 3 - cnt ; i++){ %> 
                            <tr>
                                <td>NIL</td>
                                <td>NIL</td>
                                <td>NIL</td>
                                <td>NIL</td>
                                <td>NIL</td>
                                <td>NIL</td>
                            </tr>
                        <% } %> 
                    </table>
                </div>

                <!--Table Ends-->
                <!--Bar Starts-->
                <div class="d-flex" id="PriceBarToggle" >
                    <div class="bar1wrapper" id="PriceBarToggle1"  >
                        <div class="box">
                            <div class="logo"><img src="card.png" alt=""></div>
                            <div class="chip"><img src="chip.png" alt=""></div>
                            <div class="c-number">1234 5678 9000 0000</div>
                            <div class="c-name">CUSTOMER NAME</div>
                            <!-- <div class="date-1">01/20</div>
                            <div class="date-2">12/25</div> -->
                        </div>
                    </div>
                    <div class="bar2wrapper"  id="PriceBarToggle2">
                        <div class="box">
                            <div class="logo"><img src="card.png" alt=""></div>
                            <div class="chip"><img src="chip.png" alt=""></div>
                            <div class="c-number">1234 5678 9000 0000</div>
                            <div class="c-name">CUSTOMER NAME</div>
                            <!-- <div class="date-1">01/20</div>
                            <div class="date-2">12/25</div> -->
                        </div>
                    </div>


                    <div class="bar3wrapper"  id="PriceBarToggle3">
                        <div class="box">
                            <div class="logo"><img src="card.png" alt=""></div>
                            <div class="chip"><img src="chip.png" alt=""></div>
                            <div class="c-number">1234 5678 9000 0000</div>
                            <div class="c-name">CUSTOMER NAME</div>
                            <!-- <div class="date-1">01/20</div>
                            <div class="date-2">12/25</div> -->
                        </div>
                    </div>
                    <div class="bar4wrapper"  id="PriceBarToggle4">
                        <div class="box">
                            <div class="logo"><img src="card.png" alt=""></div>
                            <div class="chip"><img src="chip.png" alt=""></div>
                            <div class="c-number">1234 5678 9000 0000</div>
                            <div class="c-name">CUSTOMER NAME</div>
                            <!-- <div class="date-1">01/20</div>
                            <div class="date-2">12/25</div> -->
                        </div>
                    </div>
                </div>

                <!--Bar Ends-->
                <!-- More Button Starts -->
                <div class="wrapper">
                    <form action="allLinks" method="POST">
                        <input type="hidden" name="email" value="<%= User.userEmail %>" readonly>
                        <button class="cta" type="submit">
                            <p style="margin-left: -40px; margin-top: -15px;">More</p>
                            <span>
                                <svg width="66px" height="43px" viewBox="0 0 66 43" version="1.1"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <path class="one"
                                            d="M40.1543933,3.89485454 L43.9763149,0.139296592 C44.1708311,-0.0518420739 44.4826329,-0.0518571125 44.6771675,0.139262789 L65.6916134,20.7848311 C66.0855801,21.1718824 66.0911863,21.8050225 65.704135,22.1989893 C65.7000188,22.2031791 65.6958657,22.2073326 65.6916762,22.2114492 L44.677098,42.8607841 C44.4825957,43.0519059 44.1708242,43.0519358 43.9762853,42.8608513 L40.1545186,39.1069479 C39.9575152,38.9134427 39.9546793,38.5968729 40.1481845,38.3998695 C40.1502893,38.3977268 40.1524132,38.395603 40.1545562,38.3934985 L56.9937789,21.8567812 C57.1908028,21.6632968 57.193672,21.3467273 57.0001876,21.1497035 C56.9980647,21.1475418 56.9959223,21.1453995 56.9937605,21.1432767 L40.1545208,4.60825197 C39.9574869,4.41477773 39.9546013,4.09820839 40.1480756,3.90117456 C40.1501626,3.89904911 40.1522686,3.89694235 40.1543933,3.89485454 Z"
                                            fill="#FFFFFF"></path>
                                        <path class="two"
                                            d="M20.1543933,3.89485454 L23.9763149,0.139296592 C24.1708311,-0.0518420739 24.4826329,-0.0518571125 24.6771675,0.139262789 L45.6916134,20.7848311 C46.0855801,21.1718824 46.0911863,21.8050225 45.704135,22.1989893 C45.7000188,22.2031791 45.6958657,22.2073326 45.6916762,22.2114492 L24.677098,42.8607841 C24.4825957,43.0519059 24.1708242,43.0519358 23.9762853,42.8608513 L20.1545186,39.1069479 C19.9575152,38.9134427 19.9546793,38.5968729 20.1481845,38.3998695 C20.1502893,38.3977268 20.1524132,38.395603 20.1545562,38.3934985 L36.9937789,21.8567812 C37.1908028,21.6632968 37.193672,21.3467273 37.0001876,21.1497035 C36.9980647,21.1475418 36.9959223,21.1453995 36.9937605,21.1432767 L20.1545208,4.60825197 C19.9574869,4.41477773 19.9546013,4.09820839 20.1480756,3.90117456 C20.1501626,3.89904911 20.1522686,3.89694235 20.1543933,3.89485454 Z"
                                            fill="#FFFFFF"></path>
                                        <path class="three"
                                            d="M0.154393339,3.89485454 L3.97631488,0.139296592 C4.17083111,-0.0518420739 4.48263286,-0.0518571125 4.67716753,0.139262789 L25.6916134,20.7848311 C26.0855801,21.1718824 26.0911863,21.8050225 25.704135,22.1989893 C25.7000188,22.2031791 25.6958657,22.2073326 25.6916762,22.2114492 L4.67709797,42.8607841 C4.48259567,43.0519059 4.17082418,43.0519358 3.97628526,42.8608513 L0.154518591,39.1069479 C-0.0424848215,38.9134427 -0.0453206733,38.5968729 0.148184538,38.3998695 C0.150289256,38.3977268 0.152413239,38.395603 0.154556228,38.3934985 L16.9937789,21.8567812 C17.1908028,21.6632968 17.193672,21.3467273 17.0001876,21.1497035 C16.9980647,21.1475418 16.9959223,21.1453995 16.9937605,21.1432767 L0.15452076,4.60825197 C-0.0425130651,4.41477773 -0.0453986756,4.09820839 0.148075568,3.90117456 C0.150162624,3.89904911 0.152268631,3.89694235 0.154393339,3.89485454 Z"
                                            fill="#FFFFFF"></path>
                                    </g>
                                </svg>
                            </span>
                        </button>
                    </form>
                </div>
                <!-- More Button Ends -->

            </section>


        </div>
        <!--  Card Background  Starts -->

        <!-- Footer Background Ends -->
        <footer class="footer">
            <div class="footer-left">
                <img src="logo.png">
                <h3>Banana.ly</h3>
                <p>Lengthy links are too BORING, right?
                    <br>Here, we come with a solution.
                </p>
                <h6>Just paste your link here and get the shortest one. Have a fun with us. </h6>


                <div class="social-media">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-youtube"></i></a>
                    <a href=""><i class="fa fa-whatsapp"></i></a>
                </div>
            </div>
            <ul class="footer-right">
                <li>
                    <h3>PACKAGES</h3>

                    <ul class="box-footer">
                        <li><a href="">100 links @25 taka</a></li>
                        <li><a href="">500 links @100 taka</a></li>
                        <li><a href="">1k links @150 taka</a></li>
                        <li><a href="">2k links @250 taka</a></li>
                        <li><a href="">5k links @500 taka</a></li>
                    </ul>
                </li>
                <li class="features">
                    <h3>USEFUL LINKS</h3>

                    <ul class="box-footer">
                        <li><a href="">Statistics</a></li>
                        <li><a href="">Pricing</a></li>
                        <li><a href="">Profile</a></li>
                        <li><a href="">Payment</a></li>
                        <li><a href="">Packages</a></li>
                    </ul>
                </li>
                <li>
                    <h3>ADDRESS</h3>

                    <ul class="box-footer">
                        <li><a href="">Level-4, 34, Awal Center</a></li>
                        <li><a href="">Banani, Dhaka</a></li>
                        <li><a href="">www.banana-ly.com</a></li>
                        <li><a href="">Email: www.banana-ly@gmail.com</a></li>
                        <li><a href="">Mobile: 017XX-XXX XXX</a></li>
                    </ul>
                </li>
            </ul>
            <div class="footer-bottom">
                <p>All rights reserved by banana.ly</p>
            </div>

        </footer>

        <!-- Footer Background Ends -->
    </div>
    <!-- Fixed Background Ends -->


    <!-- For Nav Bar Start -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- For Nav Bar End -->


    <!--For Toggle Button Starts -->
    <script type="text/javascript">
        function togglefun() {
            var toggle = document.getElementById("toggle").getAttribute("style");
            if (toggle == "transform: translateX(0px);") {
                document.getElementById("toggle").style.transform = "translateX(73px)";  
                ShowPriceBar();
            }
            else {
                document.getElementById("toggle").style.transform = "translateX(0px)";
               ShowTable();
            }
        }

        function ShowPriceBar() {
            document.getElementById('PriceBarToggle').style.display = "block";
            document.getElementById('PriceBarToggle1').style.display = "block";
            document.getElementById('PriceBarToggle2').style.display = "block";
            document.getElementById('PriceBarToggle3').style.display = "block";
            document.getElementById('PriceBarToggle4').style.display = "block";
            document.getElementById('tableToggle').style.display = "none";
        }
        function ShowTable() {
           document.getElementById('PriceBarToggle').style.display = "none";
           document.getElementById('PriceBarToggle1').style.display = "none";
           document.getElementById('PriceBarToggle2').style.display = "none";
           document.getElementById('PriceBarToggle3').style.display = "none";
           document.getElementById('PriceBarToggle4').style.display = "none";
           document.getElementById('tableToggle').style.display = "block";
           console.log("here");
       }
    </script>
    <!--For Toggle Button Ends -->



    <!-- For Pricing Bar Starts-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>

    <script src="tilt.jquery.js">
    </script>
    <script>
        const tilt = $('.box').tilt();

    </script>
    <!-- For Pricing Bar Ends-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
</body>

</html>