<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: burlywood;">
    
    <div style="align-items: center; display: grid; place-items: center; padding-bottom: 2%;">
        <p style="font-size: 30px; text-align: center;">
            Please wait for <span id="countdowntimer" style="color:rgb(53, 138, 13);">10 </span> Seconds <br>
            <a id="redirection" hidden href="<%= full %>"><span style="font-size: large;">Click here!</span></a>
        </p>
    </div>

    <div style="align-items: center; display: grid; place-items: center;">
        <a href="<%= bannerRedirect %>"> <%- bannerEmbed %> </a>
    </div>

    <div style="align-items: center; display: grid; place-items: center;">
        <a href="<%= videoRedirect %>"> <%- videoEmbed %> </a>
    </div>

    <div style="align-items: center; display: grid; place-items: center;">
        <a href="<%= smallBoxRedirect %>"> <%- smallBoxEmbed %> </a>
    </div>


    <script type="text/javascript">
        var timeleft = 10;
        var downloadTimer = setInterval(function(){
            timeleft--;
            document.getElementById("countdowntimer").textContent = timeleft;
            if(timeleft <= 0){
                // window.location.replace ("<%= full %>")  ;
                document.getElementById('redirection').hidden = false ;
                document.getElementById("countdowntimer").textContent = 0;
            }
        },1000);

        window.open("<%- newTabEmbed %>");
    </script>
    
</body>
</html>
