<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.css">
    <link rel="stylesheet" href="paymentStyle.css">
    <title>Home Page</title>
</head>

<body>
    <!-- Fixed Background Starts -->
    <div class="container">
        <!--  Card Background  Starts -->
        <div id="CardBackground">

            <!--    Nav Bar starts Here -->

            <div class="container-fluid p-0">
                <nav class="navbar navbar-expand-lg my-navbar">
                    <a class="navbar-brand" href="/userHome?email=<%= User.userEmail %>">
                        <img class="image_logo" src="logo.png" style="height: 60px; width:121px" alt="">
                    </a>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left: 220px;">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item ">
                                <!-- <a class="nav-link" href="/managePage.html">Links</a> -->
                                <form method="POST" action="managePage" class="manage">
                                    <input type="hidden" name="email" value="<%= User.userEmail %>" readonly>
                                    <button type="submit"
                                        style="margin-left: -30px;  font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
                                        class="managebtn">Links</button>
                                    <!-- <input type="submit" class="btn btn-info" value="Links">  -->
                                    <!--  <div class="nav-link" type="submit"  >Links</div> -->
                                </form>
                            </li>
                            <li class="nav-item active">
                                <!-- <form method="POST" action="adSubmission" > -->
                                <form method="POST" action="adSubmission">
                                    <input type="hidden" name="email" value="<%= User.userEmail %>" readonly>
                                    <button type="submit"
                                        style="margin-left: -30px;  font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
                                        class="managebtn">Place AD</button>
                                    <!-- <input type="submit" class="btn btn-info" value="Links">  -->
                                    <!--  <div class="nav-link" type="submit"  >Links</div> -->
                                </form>
                            </li>
                            <li class="nav-item active">
                                <!-- <form method="POST" action="adSubmission" > -->
                                <form method="POST" action="allAds">
                                    <input type="hidden" name="email" value="<%= User.userEmail %>" readonly>
                                    <button type="submit"
                                        style="margin-left: -30px;  font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
                                        class="managebtn">Statics</button>
                                    <!-- <input type="submit" class="btn btn-info" value="Links">  -->
                                    <!--  <div class="nav-link" type="submit"  >Links</div> -->
                                </form>
                            </li>
                            <li class="nav-item active">
                                <form method="POST" action="wallet">
                                    <input type="hidden" name="email" value="<%= User.userEmail %>" readonly>
                                    <button type="submit"
                                        style="margin-left: -30px;  font-size: large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
                                        class="managebtn">Wallet</button>
                                    <!-- <input type="submit" class="btn btn-info" value="Links">  -->
                                    <!--  <div class="nav-link" type="submit"  >Links</div> -->
                                </form>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Profile</a>
                                <ul class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="/u/<%=User.userEmail%>">
                                        <%= User.name %>
                                    </a>
                                    <a class="dropdown-item">
                                        <%= User.userEmail %>
                                    </a>
                                    <a class="dropdown-item" href="/"> Log out </a>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--    Nav Bar Ends Here -->


            <!--Payment SLip Section Starts-->

            <image src="paymentBG.png" class="paymentImg">
            </image>
            <div class="checkout_wrapper">

              
                <div class="checkout_form">
                    <p class="slipTitle">Payment Info</p>
                    <div class="details">
                        <!-- Amount  -->
                        <div class="section">
                            <input type="text" name="" id="" readonly
                                placeholder=""
                                value="Amount">
                        </div>
                        <!-- Amount  -->
                        <div class="section">
                            <input type="text" placeholder="Name">
                        </div>
                        <div class="section">
                            <input type="text" placeholder="Password">
                        </div>
                        <div class="section last_section">
                            <form action="">
                                <label for="txnDatelbl" class="txnDatelbl">Transaction Date </label>
                                <input type="date" id="txnDate" name="txnDate" class="txnDate">
                              </form>
                        </div>
                        <div>
                            <div class="d-flex">

                                <label for="bkash" class="radioTXT">bKash&nbsp;
                                    <input type="radio" id="bkash" name="txn" value="bkash">
                                </label><br>

                                <label for="nagad" class="radioTXT">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;নগদ&nbsp;
                                    <input type="radio" id="nagad" name="txn" value="nagad">
                                </label><br>

                                <label for="visa" class="radioTXT">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Visa&nbsp;
                                      <input type="radio" id="visa" name="txn" value="visa">
                                </label>
                            </div>
                        </div>
                        <input type="submit"  class="paySubBtn" value="Done" id="doneButton" />
                        <input type="submit"  class="paySubBtn" value="Clear" id="doneButton" />
                    </div>
                </div>
            </div>
            <!--Payment SLip Section Ends-->


            <!-- Price Details bar starts -->
            <div class="d-flex">
                <div class="box-item col-md-4">
                    <div class="flip-box">
                        <div class="flip-box-front text-center">
                            <div class="inner  ">
                                <h3 class="innertext" style="margin-left: -5%;">bKash</h3>
                            </div>
                        </div>
                        <div class="flip-box-back text-center" style="background-image: url('bkash.png');">
                            <div class="inner">
                                <img src="arrow.png" alt="" class="flip-box-img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-item col-md-4">
                    <div class="flip-box">
                        <div class="flip-box-front text-center">
                            <div class="inner  ">
                                <h3 class="innertext" style="margin-left: -14%;">নগদ</h3>
                            </div>
                        </div>
                        <div class="flip-box-back text-center" style="background-image: url('nagad.png');">
                            <div class="inner ">
                                <img src="arrow.png" alt="" class="flip-box-img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-item col-md-4">
                    <div class="flip-box">
                        <div class="flip-box-front text-center">
                            <div class="inner  ">
                                <h3 class="innertext">VISA</h3>
                            </div>
                        </div>
                        <div class="flip-box-back text-center" style="background-image: url('visa.png');">
                            <div class="inner ">
                                <img src="arrow.png" alt="" class="flip-box-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Price Details bar ends -->



        </div>
        <!--  Card Background  Starts -->

        <!-- Footer Background Ends -->
        <footer class="footer">
            <div class="footer-left">
                <img src="logo.png">
                <h3>Banana.ly</h3>
                <p>Lengthy links are too BORING, right?
                    <br>Here, we come with a solution.
                </p>
                <h6>Just paste your link here and get the shortest one. Have a fun with us. </h6>


                <div class="social-media">
                    <a href=""><i class="fa fa-facebook"></i></a>
                    <a href=""><i class="fa fa-instagram"></i></a>
                    <a href=""><i class="fa fa-twitter"></i></a>
                    <a href=""><i class="fa fa-youtube"></i></a>
                    <a href=""><i class="fa fa-whatsapp"></i></a>
                </div>
            </div>
            <ul class="footer-right">
                <li>
                    <h3>PACKAGES</h3>

                    <ul class="box-footer">
                        <li><a href="">100 links @25 taka</a></li>
                        <li><a href="">500 links @100 taka</a></li>
                        <li><a href="">1k links @150 taka</a></li>
                        <li><a href="">2k links @250 taka</a></li>
                        <li><a href="">5k links @500 taka</a></li>
                    </ul>
                </li>
                <li class="features">
                    <h3>USEFUL LINKS</h3>

                    <ul class="box-footer">
                        <li><a href="">Statistics</a></li>
                        <li><a href="">Pricing</a></li>
                        <li><a href="">Profile</a></li>
                        <li><a href="">Payment</a></li>
                        <li><a href="">Packages</a></li>
                    </ul>
                </li>
                <li>
                    <h3>ADDRESS</h3>

                    <ul class="box-footer">
                        <li><a href="">Level-4, 34, Awal Center</a></li>
                        <li><a href="">Banani, Dhaka</a></li>
                        <li><a href="">www.banana-ly.com</a></li>
                        <li><a href="">Email: www.banana-ly@gmail.com</a></li>
                        <li><a href="">Mobile: 017XX-XXX XXX</a></li>
                    </ul>
                </li>
            </ul>
            <div class="footer-bottom">
                <p>All rights reserved by banana.ly</p>
            </div>

        </footer>

        <!-- Footer Background Ends -->
    </div>
    <!-- Fixed Background Ends -->


    <!-- For Nav Bar Start -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <!-- For Nav Bar End -->


    <!--For Toggle Button Starts -->
    <script type="text/javascript">
        function togglefun() {
            var toggle = document.getElementById("toggle").getAttribute("style");
            if (toggle == "transform: translateX(0px);") {
                document.getElementById("toggle").style.transform = "translateX(73px)";
                document.getElementById("bodybg").style.backgroundColor = "#615c5c";
                document.getElementById("heading").style.color = "#fff";
            }
            else {
                document.getElementById("toggle").style.transform = "translateX(0px)";
                document.getElementById("bodybg").style.backgroundColor = "#dbd7d7";
                document.getElementById("heading").style.color = "#000";
            }
        }
    </script>
    <!--For Toggle Button Ends -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>


    <!--For cashout section STarts -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
    <script type="text/javascript" src="walletScript.js"></script>
    <!--For cashout section Ends -->

</body>

</html>